  <h1>Ask a Question</h1>

  <div>
    <%= form_for @question do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: "Enter question title" %>
      </div>
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter question body" %>
      </div>
      <div class="form-group">
         <%= link_to "Back", questions_path , class: 'btn btn-primary' %>
        <%= f.submit "Submit", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
