<%= content_tag :div, class: 'media yellow-box', id: "comment-#{comment.id}" do %>
  <div class="media-body">
    <small>
      <strong>
        <%= comment.user.name %> <% if comment.user == current_user %>(you)<% end %>
      </strong>
     commented <%= time_ago_in_words(comment.created_at) %> ago
     <% if user_is_authorized_for_comment?(comment) %>
       | <%= link_to "Delete", [comment.post, comment], method: :delete, remote: true %>
     <% end %>
    </small>
    <p class="indent"><%= comment.body %></p>
    <hr>
  </div>
<% end %>
