
<div class="row">
   <div class="col-xs-9">
     <h1><%= @topic.name %></h1></span>
   </div>
   <div class="col-xs-3">
      <%= render partial: 'header', locals: { object: @topic, edit_path: edit_topic_path, type: "Topic" } %>
   </div>
 </div>

<div class="row">
  <div class="col-xs-9">

    <div class="topic-desc gray-box">
      <%= render partial: "labels/list", locals: { labels: @topic.labels } %>
      <br><br>
      <p class="lead">
        <%= @topic.description %>
      </p>
    </div>

  </div>
</div>

  <div class="row">
    <div class="col-xs-9">
      <div class="posts yellow-box">
       <%= render @topic.posts %>
     </div>
   </div>
 </div>
