
<div class="row">
   <div class="col-xs-9">
     <h1><%= @topic.name %></h1></span>
   </div>
   <div class="col-xs-3">   
      <%= render partial: 'header', locals: { object: @topic, edit_path: edit_topic_path, type: "Topic" } %>
   </div>
 </div>

<div class="row">
  <div class="col-xs-9">
    <div class="topic-desc gray-box"><p class="lead"><%= @topic.description %></p></div>
  </div>
</div>

  <div class="row">
    <div class="posts gray-outline">
     <% @topic.posts.each do |post| %>
       <div class="media">
         <div class="media-body">
           <h4 class="media-heading">
             <%= link_to post.title, topic_post_path(@topic, post) %>
           </h4>
           <small>
             submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %> <br>
             <%= post.comments.count %> Comments
           </small>
         </div>
       </div>
     <% end %>
   </div>
 </div>
