<div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />
       <% avatar_url = User.avatar_url(@user, 128) %>
       <% unless avatar_url.nil? %>
         <div class="media-left">
           <%= image_tag avatar_url, class: 'media-object' %>
         </div>
       <% end %>
       <div class="media-body">
         <h2 class="media-heading caps"><%= @user.name %></h2>
           <%= posts?(@user) %>
           <%= comments?(@user) %>
       </div>
     </div>
   </div>
 </div>

 <div class="row">
   <div class="col-md-6">
     <% if @user.posts.count > 0 %>
       <h2>Posts</h2>
       <%= render @user.posts %>
     <% end %>
   </div>
   <div class="col-md-6">
     <% if @user.comments.count > 0 %>
       <h2>Comments</h2>
       <%= render @user.comments %>
     <% end %>
   </div>
 </div>

 <div class="row">
   <div class="col-md-8">
     <% if @user.favorites.count > 0 %>
       <h2>Favorite Posts</h2>
       <%= render @user.favorites.collect(&:post) %>
     <% end %>
   </div>
 </div>
