
 <div class="row">
   <div class="col-xs-10">
     <h1>
       <%= @post.title %>
     </h1>
       <small>
         submitted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.name %>
      </small>

     <br><br>

     <div class="gray-box">
       <%= @post.body %>
     </div>
     <br>
      <%= link_to "Back", @topic , class: 'btn btn-primary pull-left' %>
   </div>

   <% if user_is_authorized_for_post?(@post) %>
     <div class="col-xs-2" id="heading">
       <%= render partial: 'header', locals: { object: @post, parent: @post.topic, edit_path: edit_topic_post_path, type: "Post" } %>
     </div>
   <% end %>

 </div>
