
 <div class="row">
   <div class="col-xs-9">
     <div id="show-post-voting"><%= render partial: 'votes/voter', locals: { post: @post } %></div>
     <h1>
       <%= @post.title %><br>
       <small>
         submitted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.name %>
      </small>
     </h1>
    </div>

    <% if user_is_authorized_for_post?(@post) %>
      <div class="col-xs-3" id="heading">
        <%= render partial: 'header', locals: { object: @post, parent: @post.topic, edit_path: edit_topic_post_path, type: "Post" } %>
      </div>
    <% end %>


 </div>

  <div class="row">
    <div class="col-md-9">
      <%= render partial: "labels/list", locals: { labels: @post.labels } %>
    </div>
  </div>

 <div class="row">
   <div class="col-xs-9">
     <div class="gray-box">
       <%= @post.body %>
     </div>
   </div>
   <div class="points col-xs-3">
    <h3>
      <%= pluralize(@post.points, 'point') %>
      <div>
        <small>
          <%= pluralize(@post.up_votes, 'up vote') %>,
          <%= pluralize(@post.down_votes, 'down vote') %>
        </small>
      </div>
    </h3>
  </div>
</div>

<div class="row">
  <div class = "col-xs-9">
     <div>
       <h3>Comments</h3>
         <div class="comments">
           <%= render @post.comments %>
         </div>
     </div>

     <% if current_user %>
       <%= render 'comments/form', comment: Comment.new, post: @post %>
     <% end %>

      <%= link_to "Back", @topic , class: 'btn btn-sm btn-primary pull-left' %>
      
   </div>

 </div>
