<h1>New Sponsored Post</h1>

 <div class="container">
   <div>
     <%= form_for [@topic, @sponsored_post] do |f| %>
       <div class="form-group">
         <%= f.label :title %>
         <%= f.text_field :title, class: 'form-control', placeholder: "Enter post title" %>
       </div>
       <div class="form-group">
         <%= f.label :body %>
         <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter post body" %>
       </div>
       <div class="form-group">
         <%= f.label :price %>
         <%= f.number_field :price, class: 'form-control', placeholder: "$0.00" %>
       </div>
       <div class="form-group">
         <%= f.submit "Save", class: 'btn btn-success' %>
         <%= link_to "Cancel", :back, class: 'btn btn-primary pull-right' %>
       </div>
     <% end %>
   </div>
 </div>
